@import "utils";
@import "iconfont";
@import "swiper";
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/_all";
@import "~bulma/sass/form/_all";
@import "~bulma/sass/components/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/helpers/_all";
@import "~bulma/sass/layout/_all";
@import "rc-slider";
@import "checkradio";
.main {
  .section {
    &:nth-of-type(even)  {
      background: $light;
    }
  }
}
.pagination .button {
  border-radius: 0 !important;
  padding-top: .25rem;
  padding-bottom: .25rem;
  &.pg {
    transform: skew(-30deg);
    > * {
      transform: skew(30deg);
    }
  }
}
.separator {
  border-top: 1px dotted #ccc;
}
.button {
  &.is-dark {
    &.is-outlined {
      &:focus {
        background-color: transparent !important;
        color: $dark;
      }
    }
  }
}
strong {
  font-weight: 500;
}
.image.is-1by1 .has-ratio, .image.is-1by1 img, .image.is-1by2 .has-ratio, .image.is-1by2 img, .image.is-1by3 .has-ratio, .image.is-1by3 img, .image.is-2by1 .has-ratio, .image.is-2by1 img, .image.is-2by3 .has-ratio, .image.is-2by3 img, .image.is-3by1 .has-ratio, .image.is-3by1 img, .image.is-3by2 .has-ratio, .image.is-3by2 img, .image.is-3by4 .has-ratio, .image.is-3by4 img, .image.is-3by5 .has-ratio, .image.is-3by5 img, .image.is-4by3 .has-ratio, .image.is-4by3 img, .image.is-4by5 .has-ratio, .image.is-4by5 img, .image.is-5by3 .has-ratio, .image.is-5by3 img, .image.is-5by4 .has-ratio, .image.is-5by4 img, .image.is-9by16 .has-ratio, .image.is-9by16 img, .image.is-16by9 .has-ratio, .image.is-16by9 img, .image.is-square .has-ratio, .image.is-square img {
  object-fit: cover;
  object-position: center;
}

