.detail {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .header {
    border-bottom: 1px dotted #ccc;
  }
  .content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
