@import "../../../sass/utils";
.list {}
.listItem {
  padding-bottom: 1.5rem;
  &:not(:first-child) {
    margin-top: 2rem;
  }
  &:not(:last-of-type) {
    border-bottom: 1px dotted #ccc;
  }
  .swiper {
    margin-bottom: 1.5rem;
  }
}
.listItem, .detail {
  :global(.content) {
    span {
      font-size: 14px;
      color: #444;
      display: inline-block;
    }
  }
  .warranty {
    max-width: 140px;
  }
  .params {
    list-style: none;
    margin: 0;
    li {
      margin: 0;
      line-height: 1.25;
      span {
        &:first-child {
          width: 100px;
        }
      }
    }
  }
  .dealer {
    > * {
      display: block !important;
    }
    font-size: 14px;
    strong {
      font-weight: 500;
    }
  }
}
.detail {
  .thumbSwiper {
    margin-top: 10px;
    :global(.swiper-slide) {
      opacity: .8;
      &:global(.swiper-slide-thumb-active) {
        opacity: 1;
      }
    }
  }
}

.link {
  text-decoration: underline !important;
  font-size: 14px;
  font-family: $family-sans-serif !important;
}
.config {
  ul {
    margin: 0;
    list-style-position: inside;
    li {
      margin: 0;
      padding: 0;
    }
  }
}
.wcheckbox {
  :global(label) {
    display: flex;
    align-items: center;
    input {
      margin-right: 5px;
    }
  }
}
